.version.index /* version checker */
{
	color: #000000;
	background-color: #E05E9B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1440px;
	min-height: 786px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 54px;
}

#u127
{
	z-index: 2;
	width: 726px;
	min-height: 323px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 21px;
}

#pu133
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 22px;
	margin-left: 770px;
}

#u133
{
	z-index: 7;
	width: 647px;
	min-height: 647px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u131-4
{
	z-index: 3;
	width: 620px;
	min-height: 49px;
	background-color: transparent;
	font-size: 42px;
	line-height: 50px;
	margin-left: 14px;
	margin-top: 28px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1440px;
}

