.version.index /* version checker */
{
	color: #0000F5;
	background-color: #430B51;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 337px;
	min-height: 604px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 87px 552px 87px 551px;
}

#u79
{
	z-index: 2;
	width: 337px;
	min-height: 604px;
}

body
{
	position: relative;
	min-width: 1440px;
}

#page .verticalspacer
{
	clear: both;
}

